{% extends "base.html" %}

{% block main %}
<div class="profile">
    <div class="UpperProfileTab">
        <img src="{{ url_for('static', filename='HueyFreeman_Boondocks.jpg')}}" alt="I am the stone that the builder refused">
        <h1>Giovanni Lawrence</h1>
        <p>@SirOutlandish</p>
        <p>St. Andrew, Jamaica</p>
        <p>{{ date }}</p>
    </div>    
    <div class="LowerProfileTab">
        <p>I am just him in every possible sense and plane of existence</p>    
        <div class="grid-container">
            <p>70</p>
            <p>150</p>
            <p>60k</p>
            <p>Posts</p>
            <p>Following</p>
            <p>Followers</p>
        </div>
        <button>Follow</button>
    </div>
</div>
{% endblock %}